<ion-header>
    <div class="top-wrapper">
      <div class="top primary menu sticky">
        <div class="wrap">
          <a fade-onload to="/" title="Home" rel="home" id="logo" style="opacity: 1;">
            <img class="logo logo-black" src="{{uploadpath}}inst/{{InstInfo.logo}}" alt="Home">
          </a>
          <div class="right" fade-onload style="opacity: 1;">
            <a (click)="nagivate('/tabs/tab2')">
              <img class="basket-icn basket-icn--black" src="{{uploadpath}}resource/{{res.basket}}" alt="basket">
              <span id="number-item-in-cart">&nbsp;{{cart.length>0?cart.length:""}}</span>
            </a>
            <a class="btn-menu-burger">
              <img class="icon-menu icon-menu--black" src="{{uploadpath}}resource/{{res.menu}}" alt="menu">
              <i class="icon-close"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-header>

<ion-content></ion-content>
