// http://ionicframework.com/docs/theming/
@import 'theme/custom.component.css';
@import 'theme/custom.common.css';
.fixtop{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    z-index: 3;
}
.flex-row{
    display: flex;
}
.flex-1{
    flex:1;
}

.padding{
    padding:20px;
}

.text-center{
    text-align: center;
}